.header {
    color: #3efa3c;
    font-size: 48px;
    padding-bottom: 15px;
}

.footer {
    padding-bottom: 15px;
}

.error, .message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
}

.error {
    color: #a90926;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.message {
    color: #7afaa4;
    background-color: #b2bcfa;
    border: 1px solid #9feba6;
}